<div id ="div-cadastro">
    <form [formGroup]="formulario" (submit)="submitForm()" >
        
        <div class="form-group">
            <label for="exampleInputEmail1">Codigo:</label>
            <input id ="codigo" formControlName="codigo" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Nome:</label>
            <input id ="nome" formControlName="nome" type="text" class="form-control">
        </div>

        <div class="form-group">
        <label for="exampleInputPassword1">Categoria:</label>
        <select id ="categoria" formControlName="categoria" class="form-control form-control-sm">
            <option>Selecione a categoria</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nome}}</option>
        </select>
        </div>
        
        <div class="form-group">
            <label for="exampleInputPassword1">Preço:</label>
            <input id="preco" formControlName="preco" type="number" class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Páginas:</label>
            <input id ="pagina" formControlName="pagina" type="number" class="form-control">
        </div>

        <button type="submit" class="btn btn-dark btn-lg">Cadastrar</button>
  </form>
</div>